/*selector universal*/

* {
    margin: 0%;
    padding: 0%;
}

.imagen {
    display: flex;
    width: 230px;
    height: 230px;
    border: 10px;
    border-radius: 250%;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 50px rgb(168, 7, 7);
}

.encabezado {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #88254673;
}

.targeta-content-backgroung {
    background-image: url(https://i.pinimg.com/736x/8c/8f/d2/8c8fd2d52d317097612eafdd2492073c.jpg);
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: top, bottom;
}

.targeta-content {
    width: 90%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

@font-face {
    font-family: oldnewspaper;
    src: url(../MULTIMEDIA/OldNewspaperTypes.ttf)
}

.Head-start {
    width: 40%;
    justify-items: end;
    color: rgb(255, 255, 255);
    font-family: oldnewspaper;
    font-size: 25px;
}

.Head-end {
    width: 40%;
    color: aliceblue;
    font-family: oldnewspaper;
    font-size: 15px;
}

@font-face {
    font-family: ELEGANTTYPEWRITER;
    src: url(../MULTIMEDIA/ELEGANT-TYPEWRITER-Italic.ttf);
}

.lola {
    font-size: 20px;
    font-family: ELEGANTTYPEWRITER;
}

.boton {
    display: inline-block;
    margin-top: 10px;
    background-color: rgba(88, 2, 2, 0.267);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.Imagen-content {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title {
    display: flex;
    justify-content: center;
}

.Education-title {
    width: 90%;
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    gap: 0.5rem;
}

.Education-title h3 {
    font-size: 35px;
    font-family: oldnewspaper;
    background-color: #3d06189a;
    width: 200%;
}

.section-content {
    display: flex;
    justify-content: center;
}

.sections {
    width: 90%;
    display: flex;
    align-items: end;
}

.section {
    color: rgb(0, 0, 0);
    text-align: center;
    width: 90%;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.bloque {
    background-image: linear-gradient(180deg, #303058c5, #3d061859 40%, rgba(119, 0, 0, 0.774));
}

.sections-education {
    width: 90%;
    display: flex;
}

.sections2 {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

@font-face {
    font-family: ELEGANTTYPEWRITER;
    src: url(../MULTIMEDIA/ELEGANT-TYPEWRITER-Italic.ttf);
}

.pepe {
    font-size: 20px;
    margin: 5%;
    font-family: ELEGANTTYPEWRITER;
}

.titulos {
    margin: 2%;
    font-family: oldnewspaper;
    background-color: #3d06189a;
}

.imagen1 {
    width: 30px;
    height: 30px;
    display: flex;
}

.coco {
    margin-right: 2%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: baseline;
}

.redes {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.twitter {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: oldnewspaper;
}

.linkedin {
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: oldnewspaper;
}

.idiomas {
    font-size: 15px;
    font-family: oldnewspaper;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.pie {
    padding: 3%;
    justify-content: space-around;
    display: flex;
}

.progrees {
    appearance: none;
}

.progrees::-webkit-progress-bar {
    background-color: rgba(43, 3, 3, 0.459);
}

.progrees::-webkit-progress-value {
    background-color: rgb(133, 28, 33);
}